:root {
  font-size: calc(0.8rem + 0.5vw);
}

#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.hhh-body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.hhh-spacer {
  display: grid;
  gap: var(--gap, 1rem);
}

.hhh-grid {
  max-inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 1.75rem;
}
